---
layout: archive
title: "Invited Talks"
permalink: /talks/
author_profile: true
---

<ul>
<li><b>CTSTA Workshop in PLDI 2023</b>, Organizers: Fredrik Kjolstad, Saman Amarasinghe, Michelle Mills Strout, June 2023.</li> 
<li><b>EfficientML Reading Group</b>, Organizers: Olga Saukh, TU Graz, May 2023.</li> 
<li><b>Sparsity Reading Group</b>, Organizers: Utku Evci, Anna Golubeva, Decebal  Constantin Mocanu, Gintare Karolina Dziugaite, Yani Ioannou, Dan Alistarh.  Mar 2023.</li>
<li><b>Sharc Group</b>, Organizers: Cong (Callie) Hao, Georgia Institute of Technology, Mar 2023.</li>
<li><b>IFML Seminar</b>, Organizers: Adam Klivans and Alexandros Dimakis, UT Austin, January 2023. <a href="https://www.ifml.institute/events/fantastic-sparse-masks-and-where-find-them">Link</a> </li>
<li><b>LoG2022 meetup</b>, Organizers: Jure Leskovec and Kexin Huang, Stanford University, Dec 2022.</li>
<li><b>Dongkuan Xu's group</b>, Organizers: Dongkuan Xu, North Carolina State University, Nov 2022.</li>
<li><b>zhidx (AI新青年)</b>, Nov 2022.</li>
<li><b>TechBeat</b>, TechBeat, Sep 2022.</li>
<li><b>Tutorial at ECMLPKDD 2022</b>, Grenoble, France, Sep 2022.</li>
</ul>




{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

