---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<ul>
<li>Sparse Neural Network Training</li>
<li>Sparse Training in Model Compression and Scaling</li>
<li>More Convnets in the 2020s: Scaling up Kernels beyond 51 × 51 Using Sparsity</li>
</ul>


* **Sparse Neural Network Training**
North Carolina State University, Nov 2022.

* **Sparse Training in Model Compression and Scaling**
zhidx (AI新青年), Nov 2022.

* **More Convnets in the 2020s: Scaling up Kernels beyond 51 × 51 Using Sparsity**
TechBeat, Sep 2022.

* **More Convnets in the 2020s: Scaling up Kernels beyond 51 × 51 Using Sparsity**
TechBeat, Sep 2022.


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

